<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.misa.character.dao.CharacterMapper">
    <resultMap id="characterResultMap" type="com.misa.character.dto.CharacterDTO">
        <id property="userId" column="user_id"/>
        <result property="characterHp" column="character_hp"/>
        <result property="characterAp" column="character_ap"/>
        <result property="characterDp" column="character_dp"/>
        <result property="currentHp" column="current_hp"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
    </resultMap>

    <select id="findCharacterById" resultMap="characterResultMap" parameterType="string">
        select
               user_id,
               character_hp,
               character_ap,
               character_dp,
               current_hp,
               latitude,
               longitude
          from tbl_character
         where user_id = #{userId}
    </select>

    <update id="updateCharacterState" parameterType="com.misa.character.dto.CharacterDTO">
        update tbl_character
        set current_hp = #{currentHp},
            latitude = #{latitude},
            longitude = #{longitude}
        where user_id = #{userId}
    </update>
</mapper>