<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.misa.item.repository.ItemMapper">

    <resultMap id="itemResultMap" type="com.misa.item.dto.ItemDTO">
        <id property="itemCode" column="item_code"/>
        <result property="itemName" column="item_name"/>
        <result property="itemType" column="item_type"/>
        <result property="itemHp" column="item_hp"/>
        <result property="itemAp" column="item_ap"/>
        <result property="itemDp" column="item_dp"/>
        <result property="slotCode" column="slot_code"/>
    </resultMap>

        <select id="findItemByCode" resultMap="itemResultMap">
            select
                    item_code
                  , item_name
                  , item_type
                  , item_hp
                  , item_ap
                  , item_dp
                  , slot_code
              from tbl_item
             where item_code = #{itemCode}
        </select>

</mapper>