<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.misa.monster.repository.MonsterMapper">

    <resultMap id="monsterDropResultMap" type="com.misa.monster.dto.MonsterDropDTO">
        <result property="itemCode" column="item_code"/>
        <result property="dropRate" column="drop_rate"/>
    </resultMap>

    <resultMap id="monsterResultMap" type="com.misa.monster.dto.MonsterDTO">
        <id property="spawnId" column="spawn_id"/>
        <result property="monsterCode" column="monster_code"/>
        <result property="monsterName" column="monster_name"/>
        <result property="hp" column="monster_hp"/>
        <result property="ap" column="monster_ap"/>
        <result property="dp" column="monster_dp"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <collection property="dropList" resultMap="monsterDropResultMap"/>
    </resultMap>

    <select id="findAllMonsters" resultMap="monsterResultMap">
        select
              b.spawn_id,
              a.monster_code,
              a.monster_name,
              a.monster_hp,
              a.monster_ap,
              a.monster_dp,
              b.latitude,
              b.longitude,
              c.item_code,
              c.drop_rate
          from tbl_monster a
          join tbl_monster_spawn b on a.monster_code = b.monster_code
          left join tbl_monster_drop_list c on a.monster_code = c.monster_code
    </select>

</mapper>